.topicButton {
    
    background-color: darkmagenta;
    border-radius: 50%;
    color: azure;


}
#gifs {
    display: flex;
    flex-wrap: wrap;

}
#buttons {
    width: 960px;
    margin: 0 auto;


}
#form{
    float: right;
}